@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<td style="width:150px">

    <div class="btn-group" role="group">
        <a type="button" class="btn btn-primary" href="@Url.Action("ShowEnroll/"+Model).Replace("%2F","/")">
            <i class="far fa-envelope"></i>
        </a>
        
    </div>
</td>