@model ClassRegis.Models.ViewModel.AdminVM

<h2>Admin</h2>
<br /><br />
@*Subject*@
<div class="d-table-row">
    <div class="row">
        <a asp-action="Index" asp-controller="Subject" class="btn btn-info">Subject</a>
        &nbsp;&nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Room" class="btn btn-info">Room</a>
        &nbsp;&nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Teacher" class="btn btn-info">Teacher</a>
    </div>

</div>
