@model IEnumerable<Rooms>

<h2>Admin/Rooms</h2>
<br /><br />
@*Room*@
<div class="row">
    <a asp-area="Admin" asp-controller="Room" asp-action="Create" class="btn btn-info">Create Room</a>
    &nbsp; &nbsp;
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-info">Back to admin</a>
</div>

<br /><br />
<table class="table table-striped border">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(m => m.FirstOrDefault().Name)
        </th>
        <th>
          
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
             
            </td>
            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>

        </tr>


    }

</table>

