@model Classes
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Room</h2>
<br /><br />

      <form method="post" asp-action="Delete">
          <div class="form-group row">
              <div class="col-2">
                  <label asp-for="Name"></label>
              </div>
              <div class="col-5">
                  <input asp-for="Name" readonly class="form-control" />
              </div>

          </div>
          <div class="form-group row">
              <div class="col-2">
                  <label asp-for="Rooms.Name"></label>
              </div>
              <div class="col-5">
                  <input asp-for="Rooms.Name" readonly class="form-control" />
              </div>

          </div>
          <div class="form-group row">
              <div class="col-2">
                  <label asp-for="Subjects"></label>
              </div>
              <div class="col-5">
                  <input asp-for="Subjects.Name" readonly class="form-control" />
              </div>
          </div>
          <div class="form-group row">
              <div class="col-2">
                  <label asp-for="Teachers"></label>
              </div>
              <div class="col-5">
                  <input asp-for="Teachers.Name" readonly class="form-control" />
              </div>

          </div>
          <br />
          <br /><br />
          <div class="form-group">
              <input type="submit" class="btn btn-danger" value="Delete" />
              <a asp-action="Index" class="btn btn-success">Back to List</a>
          </div>
          </div>
      </form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}